<launch>  

  <arg name="urdf_filename" default="$(find galileo_huron_description)/urdf/huron.urdf" />

  <param name="galileo_ros/urdf_filename" value="$(arg urdf_filename)"/>

  <param name="robot_description" command = "$(find xacro)/xacro --inorder $(find galileo_huron_description)/urdf/huron.urdf" />

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    <!-- <param name="ignore_timestamp" type="bool" value="true"/> -->
  </node>

  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find galileo_ros)/rviz/huron.rviz" />


  <node name="galileo_ros_legged_rviz_node" type="galileo_ros_legged_rviz_node" pkg="galileo_ros" output="screen">
  </node>


  <!-- <node name="galileo_ros_legged_verbose_rviz" type="galileo_ros_legged_verbose_rviz" pkg="galileo_ros" output="screen">  
  </node> -->

  
</launch>