<launch>
  <!--arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" /-->
   
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name='robot_description' value="$(command 'cat $(find-pkg-share galileo)/resources/go1/urdf/go1.urdf')"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" required="true" />
  
  <node name="model_node" type="galileo_legged_example.cpp" pkg="galileo_ros" />
  
  <node name="poll_node" type="galileo_legged_poll_solution.cpp" pkg="galileo_ros" />
</launch>